body{
    position: relative;
}
.header {
    position: static;
    top: 0;
    height: auto;
    width: auto;
    flex-direction: row;
    justify-content: center;
    display: flex;
    overflow: hidden;
    z-index: 1000;
    flex-wrap: nowrap;
}
.Apple {
    display: inline block;
    font-size: small; 
    margin-right: 40px;
    z-index: 12;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Store{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-top: 5px;
    margin-right: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Mac{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-top: 5px;
    margin-right: 40px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.iPad{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-right: 40px;
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Watch{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-right: 40px;
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Vision{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-right: 40px;
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.AirPods{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-right: 40px;
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.TV{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-right: 40px;
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Entertainment{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-right: 40px;   
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Accessories{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-right: 40px;
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Support{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-right: 40px;
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.find{
    display: inline block;
    font-size: small; 
    margin-right: 40px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.cart{
    display: inline block;
    font-size: small; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.myTable {
    position: absolute;
    left: 0%;
    display: none;
    width: 100%;
    height: 50vh;
    background-color: whitesmoke;
    z-index: 12;
    margin-top: 10px;
  }
.Store:hover .myTable{
    display: block;
    cursor: pointer;
}
.Mac:hover .myTable{
    display: block;
    cursor: pointer;
}
.iPad:hover .myTable{
    display: block;
    cursor: pointer;
}
.Watch:hover .myTable{
    display: block;
    cursor: pointer;
}
.Vision:hover .myTable{
    display: block;
    cursor: pointer;
}
.AirPods:hover .myTable{
    display: block;
    cursor: pointer;
}
.TV:hover .myTable{
    display: block;
    cursor: pointer;
}
.Entertainment:hover .myTable{
    display: block;
    cursor: pointer;
}
.Accessories:hover .myTable{
    display: block;
    cursor: pointer;
}
.Support:hover .myTable{
    display: block;
    cursor: pointer;
}
.find:focus .myTable{
    display: block;
    cursor: pointer;
}
.find:focus-within .myTable{
    display: block;
    cursor: pointer;
}
.cart:focus .myTable{
    display: block;
    cursor: pointer;
}
.cart:focus-within .myTable{
    display: block;
    cursor: pointer;
}
.box{
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
.main{
    position: relative;
    display: block;
}
.border-width{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.118);
    top: 0px;
    z-index: 3;
}
.section-welcome{
    position: relative;
    height: auto;
    padding-bottom: 20px;
    padding-top: 8px;
    text-align: center;
    width: auto;
    margin-bottom: 90px;
}
.section-content{
    position: relative;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: auto;
}
.welcome{
    padding-top: 8px;
    text-align: center;
    margin-bottom: 5px;
    overflow: hidden;
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 7vh;
}
.welcome-video{
    margin: 40px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.welcome-lockup{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.box2{
    width: 100px;
    height:50px;
    background-color: blue;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
    position: relative;
    margin-bottom: 10px;
    
}
.Buy{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box2:hover {
    background-color: rgb(0, 136, 255);
}
.text{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Get-the-highlights{
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

}
.get-the-highlight{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-family: Arial, sans-serif;
            width: calc(100%-20px);
            height: auto;
            margin-bottom: 100px;
 
}
.text-highlight-left {
    text-align: start;
    position: absolute;
    font-size: 2.5em;
    color: black;
    margin-left: 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.text-highlight-right{
    text-align: end;
    position: absolute;
    bottom: 0px;
    left: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;

}
.a{
    color: #007BFF;
    transition: background-color 0.3s ease;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
}
.get-the-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}
.image-container{
    width: 1000px;
    height: auto;
}
.button-image{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    animation: fadeIn 10s;
    margin-bottom: 70px;
    overflow: hidden;

}
@keyframes fadeIn {
    0% {opacity: 0;}
  100% {opacity: 1;}
}
.button-image-left{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.button-image-left-tron{
    margin-left: 10px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(194, 195, 195);
}
.button-image-right{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ececec;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.Take{
    width: calc(100%);
    height: auto;
    background-color: white;  
    margin-top: 40px;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center; 
}
.button-note{
    border: 0px solid black;
    width: 100%;
    text-align: center;
    height: auto;
    margin-top: 30px; 
}
.button-note-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    text-align: center;
    color: black;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.button-take{
    margin-top: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    animation: fadeIn 10s;
    margin-bottom: 70px;
}
.button-border{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.Explore{
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}
.Explore-the-full-story{
    height: auto;
    width: 60%;
    padding-top: 114px;
    text-align: center;
    margin-bottom: 100px;
    border: 0px solid white;
}
.Explore-the-full-story-text{
    font-size: 50px;
    font-weight: bolder;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;  
}
.Explore-the-heading{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 50px;
}
.Explore-the-heading-text{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;      
}
.Explore-the-body{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 50px;
}
.Explore-the-body-text{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    word-wrap: break-word;
    overflow-wrap: break-word;      
}
.Explore-the-image{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 250px;
}
.Explore-the-image1{
    width: calc(100%/3);
    height: auto;
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    overflow: hidden;
}
.Explore-the-image1-text1{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 255, 204);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Explore-the-image2-text1{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 195, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Explore-the-image3-text1{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(115, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Game-changing-heading{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 100px;
}
.Game-changing-heading-text{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;   
}
.Game-changing-image{
    height: 1000px;
    width: 100%;
    border: 0px solid white;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
    animation: fadeIn 15s ;
}
.Game-changing-image-border{
    position: relative;
    width:  1600px;
    height: auto;
    border: 0px solid white;
    display: inline-block;
    overflow: hidden;
}
.Game-changing-image-main{
    position: absolute;
    width:  auto;
    height: auto;
    border: 0px solid white;
    z-index: 1;
    top: 400px;
    left: 400px;
    background-size: cover; 
}
.Game-changing-image1{
    position: absolute;
    width:  auto;
    height: auto;
    border: 0px solid white;
    z-index: 2;
    top: 60px;
    left: 100px;
    background-size: cover; 
    object-fit: contain;
    transform: scale(1);
}
.Game-changing-image2{
    position: absolute;
    width:  auto;
    height: auto;
    border: 0px solid white;
    z-index: 2;
    top: 0px;
    left: 600px;
    background-size: cover;
    object-fit: contain;
    transform: scale(0.5);
}
.Game-changing-image3{
    position: absolute;
    width:  auto;
    height: auto;
    border: 0px solid white;
    z-index: 3;
    top: -200px;
    left: 750px;
    background-size: cover;
    object-fit: contain;
    transform: scale(0.5);
}
.Game-changing-image4{
    position: absolute;
    width:  auto;
    height: auto;
    border: 0px solid white;
    z-index: 4;
    top: 350px;
    left: -100px;
    background-size: cover;
    object-fit: contain;
    transform: scale(0.5);
}
.Game-changing-image5{
    position: absolute;
    width:  auto;
    height: auto;
    border: 0px solid white;
    z-index: 4;
    top: 350px;
    left: 800px;
    background-size: cover;
    object-fit: contain;
    transform: scale(0.5);
}
.Game-changing-image6{
    position: absolute;
    width:  auto;
    height: auto;
    border: 0px solid white;
    z-index: 3;
    top: 500px;
    left: -500px;
    background-size: cover;
    object-fit: contain;
    transform: scale(0.5);
}
.Game-changing-image7{
    position: absolute;
    width:  auto;
    height: auto;
    border: 0px solid white;
    z-index: 3;
    top: 500px;
    left: 900px;
    background-size: cover;
    object-fit: contain;
    transform: scale(0.5);
}
.Game-changing-border{
    border: 0.001cm solid rgb(187, 187, 187);
    width: 64%;
    margin-left: 18%;
    margin-bottom: 100px;
}
.Game-changing-note{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fadeIn 10s;
}
.Game-changing-note-text1{
    width: calc(100%/2);
    margin-right: 10px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: rgb(132, 133, 135);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Game-changing-note-text2{
    font-size: 20px;
    width: calc(100%/2);
    margin-left: 10px;
    font-weight: bold;
    color: rgb(132, 133, 135);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Game-changing-up-to{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 0px;
    animation: fadeIn 5s;
}
.Game-changing-up-to-text{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: start;
}
.Game-changing-faster{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 0px;
    animation: fadeIn 10s;

}
.Game-changing-faster-text{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: start;
}
.Game-changing-than{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 270px;
    animation: fadeIn 10s;

}
.Game-changing-than-text{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: start;
}
.Hard-ware{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 80px;
    animation: fadeIn 10s;
}
.Hard-ware-text{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Hard-ware-heading{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 50px;
    animation: fadeIn 10s;
}
.Hard-ware-heading-text{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Hard-ware-video-image{
    width: 80%;
    height: auto;
    margin-left: 10%;
    border: 0px solid white;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: fadeIn 10s;
}
.Hard-ware-video{
    position: absolute;
    z-index: 2;
    margin-top: 5px;
    width: 950px;
    height: auto;
    margin-left: 0%;
    border: 0px solid white;
    margin-bottom: 0px;
}
video{
    width: 100%;
    height: auto;
}
.Hard-ware-video:hover{
    cursor: pointer;
}
.Hard-ware-footer{
    width: 68%;
    height: auto;
    margin-left: 16%;
    border: 0px solid white;
    margin-bottom: 50px;
    text-align: end;
}
.Hard-ware-footer-text{
    font-size: 15px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Up-to-o-ver{
    width: 60%;
    height: auto;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px solid white;
    margin-bottom: 100px;
}
.Up-to{
    width: calc(100%/2 - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0px solid white;
}
.o-ver{
    width: calc(100%/2 - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0px solid white;
}
.Up-to-text1{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Up-to-text2{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Up-to-text3{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.border-after-Up-to{
    width: 100%;
    height: auto;
    margin-left: 0%;
    border: 0px solid white;
    margin-bottom: 400px;
}
.We-can-do{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 80px;
}
.We-can-do-text{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.We-can-do-heading{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 80px;
}
.We-can-do-heading-text{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.We-can-do-image-video{
    width: 100%;
    height: auto;
    margin-left: 0%;
    border: 0px solid white;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.We-can-do-video{
    position: absolute;
    z-index: 2;
    margin-top: 5px;
    width: 950px;
    height: auto;
    margin-left: 0%;
    border: 0px solid white;
    margin-bottom: 0px;
}
.We-can-do-video:hover{
    cursor: pointer;
}
.We-can-do-image{
    z-index: 1;
    width: 100%;
    height: auto;
    margin-left: 0%;
    border: 0px solid white;
    margin-bottom: 0px;
}
.We-can-do-footer{
    width: 68%;
    height: auto;
    margin-left: 16%;
    border: 0px solid white;
    margin-bottom: 50px;
    text-align: end;
}
.We-can-do-footer-text{
    font-size: 15px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.We-can-d0-up-to{
    width: 60%;
    height: auto;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px solid white;
    margin-bottom: 100px;
}
.We-can-do-up-to{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.We-can-do-up-to-left{
    width: calc(100%/2 - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0px solid white;
}
.We-can-do-up-to-left-text1{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 5px;
}
.We-can-do-up-to-left-text2{
    font-size: 60px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 5px;
}
.Amps-up{
    display: block;
    width: 100%;
    height: auto;
}
.Amps-up-apps{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 80px;
}
.Amps-up-apps-text{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Amps-up-apps-heading{
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 0px solid white;
    margin-bottom: 100px;
}
.Amps-up-apps-heading-text{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
a{
    text-decoration: none;
    font-weight: light;
}
.Amps-up-apps-image{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.Amps-up-apps-khung{
    overflow: hidden;
    width: 100%;
    height: 30px;
    margin-left: 0%;
    border: 0px solid white;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}
.Amps-up-apps-note{
    position: absolute;
    z-index: 2;
    width: 900px;
    height: auto;
    border: 0px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Amps-up-apps-details{
    position: static;
    width: calc(100%/4 - 10px);
    height: auto;
    text-align: center;
    border: 0px solid white;
}
.Amps-up-apps-text1{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Table{
    overflow: hidden;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
}
.Table-text{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}
.Amps-up-apps-details:hover .Table{
    display: block;
}
.A-MacBook-Pro{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    overflow: hidden;
}
.A-MacBook-Pro-1{
    width: 1250px;
    height: 850px;
    background-color: rgb(35, 34, 34);
    border-radius: 50px;
}
.A-MacBook-Pro-1-heading{
    width: 70%;
    height: auto;
    border: 0px solid rgb(255, 255, 255);
    text-align: start;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 80px;
}
.A-MacBook-Pro-1-heading-text{
    text-align: start;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.A-MacBook-Pro-1-body{
    width: 70%;
    height: auto;
    border: 0px solid rgb(255, 255, 255);
    text-align: start;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.A-MacBook-Pro-1-body-1{
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0px solid rgb(255, 255, 255);
    height: auto;
    width: calc(100%/3 - 30px);
}
.A-MacBook-Pro-1-body-1-heading{
    border-bottom: 1px solid rgb(91, 91, 91);
    margin-bottom: 40px;
}
.A-MacBook-Pro-1-body-1-heading-text1{
    text-align: start;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.A-MacBook-Pro-1-body-1-heading-text2{
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    color: rgba(133, 133, 133, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}
.MacBook-color{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.MacBook-color-text{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(133, 133, 133, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 50px;
}
.M3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.M3-note{
    width: 90%;
    height: auto;
}
.M3-note-text{
    text-align: start;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(133, 133, 133, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 50px;
}
.The-best-display{
    width: 50%;
    margin-left: 25%;
    height:auto;
    margin-bottom: 50px;
}
.The-best-display-text{
    text-align: start;
    font-size: 64px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 50px;
    line-height: auto;
}
.The-best-display-video{
    width: 100%;
    height: auto;
    margin-left: 0;
    overflow: hidden;   
    display: flex;
    justify-content: center;
    margin-bottom: 100px ;
    overflow: hidden;
}
.The-best-display-video-detail{
    overflow: hidden;
    width: 2500px;
    height: auto;
}
.The-best-display-video-detail:hover {
    cursor: pointer;
}
.The-best-display-note{
    width: 50%;
    height: auto;
    margin-left: 50%;
    transform: translate(-50%,0);
    border: 0px solid black;
}
.The-best-display-note-text{
    text-align: start;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgba(68, 68, 68, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 100px;
}
.The-best-display-video1{
    width: 100%;
    height: auto;
    margin-left: 0;
    overflow: hidden;   
    display: flex;
    justify-content: center;
    margin-bottom: 100px ;
    overflow: hidden;
}
.The-best-display-video1-note{
    width: 900px;
    height: auto;
}
.The-best-display-note1{
    width: 60%;
    height: auto;
    margin-left: 20%;
    border: 0px solid white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 250px;
}
.The-best-display-note1-border{
    width: calc(100%/3 -10px);
    height: auto;
}
.The-best-display-note1-text{
    text-align: start;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.The-best-display-border{
    width: 100%;
    margin-bottom: 300px;
    border-bottom: 0px solid black;
}
.The-crisp-clear-commanding{
    width: 60%;
    height: auto;
    margin-left: 20%;
    border: 0px solid black;
    margin-bottom: 100px;
}
.The-crisp-clear-commanding-text{
    text-align: start;
    margin-top: 10px;
    font-size: 70px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.The-crisp-note{
    width: 90%;
    margin-left: 0%;
    height: auto;
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    flex-wrap: nowrap;
}
.The-crisp-note-image{
    max-width: 50%;
    max-height: 50%;
    overflow: hidden;
    object-fit: contain;
    object-position: right;
    margin-right: 50px;
}
.The-crisp-border{
    width: calc(100%/2 - 20px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.The-crisp-border-note{
    width: 100%;
    height: auto;
}
.The-crisp-border-note-text{
    text-align: start;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    animation: fadeIn 4s;
}
.All-the-right{
    width: 60%;
    height: auto;
    margin-left: 20%;
    border: 0px solid black;
    margin-bottom: 50px;
}
.All-the-right-text{
    text-align: start;
    margin-top: 10px;
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    animation: fadeIn 4s;
}
.All-the-right-image{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}
.All-the-right-image-top{
    width: 3000px;
    height: 160px;
    border: 0px solid black;
    display: flex;
    justify-content: right;
    margin-inline-start: auto;
    margin-inline-end: auto;
    object-fit: contain;
    margin-bottom: 50px;
    object-fit: cover;
    object-position: right;
    position: relative;
}
.image-top{
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 600px;
    animation: dc1 3s;
}
@keyframes dc1 {
    0% {
        right: 400px;
        background-color: aquamarine;
    }
    50%{
        background-color: blue;
    }
    100% {
        right: 600px;
        background-color: white;
    }
}
.All-the-right-image-bottom{
    width: 3000px;
    height: 160px;
    border: 0px solid black;
    display: flex;
    justify-content: left;
    margin-inline-start: auto;
    margin-inline-end: auto;
    object-fit: contain;
    object-fit: cover;
    object-position: left;
    position: relative;
}
.image-bottom{
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left:-900px;
    animation: dc2 3s;
}
@keyframes dc2 {
    0% {
        left: -1100px;
        background-color: aquamarine;
    }
    50%{
        background-color: blue;
    }
    100% {
        left: -900px;
        background-color: white;
    }
    
}
.All-the-right-text-body{
    text-align: start;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(133, 133, 133, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    animation: fadeIn 4s;
}
.All-the-right-footer{
    margin-top: 100px;
    width: 60%;
    height: auto;
    margin-left: 20%;
    border: 0px solid black;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fadeIn 4s;
}
.All-the-right-footer-border{
    width: calc(100%/2 - 60px);
    border: 0px solid black;
    margin-bottom: 200px;
}
.All-the-right-footer-border-text1{
    text-align: start;
    margin-top: 10px;
    border-bottom: 2px solid black;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.All-the-right-footer-border-text2{
    text-align: start;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.All-the-right-footer-border-text3{
    text-align: start;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(133, 133, 133);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Security{
    width: 60%;
    height: auto;
    margin-left: 20%;
    border: 0px solid black;
    margin-bottom: 50px;
}
.Security-heading{
    text-align: start;
    margin-top: 10px;
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 100px;
}
.Security-image{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.Security-footer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    animation: fadeIn 5s;
}
.Security-footer-border{
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-around;
    border: 0px solid black;
    position: relative;
}
.Security-footer-border1{
    width: calc(100%/2 - 20px);
    height: auto;
    text-align: start;
    border: 0px solid black;
}
.Security-footer-border2{
    width: calc(100%/2 - 20px);
    height: auto;
    text-align: start;
    border-top: 1px solid rgb(0, 0, 0);
}
.Security-footer-border-text{
    text-align: start;
    font-size: 20px;
    color: rgb(133, 133, 133);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Significant-others{
    width: 80%;
    height: auto;
    margin-left: 10%;
    border: 0px solid black;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
    overflow: hidden;
}
.Significant-others-text{
    text-align: start;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Significant-others-body{
    width: 1200px;
    height: 600px;
    background-color: #f5f5f5;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.Significant-left{
    width: (100%/3 -20px);
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 50px;
}
.Sign-top1{
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}
.Sign-top1-text{
    text-align: start;
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Sign-top1-text1{
    text-align: start;
    font-size: 15px;
    font-weight: normal;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Significant-right{
    width: (200%/3 -20px);
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 0px;
    border: 0px solid black;
}
.Sign-image1{
    width: auto;
    height: auto;
    right: 0px;
    z-index: 1;
}
.Sign-image2{
    transform: scale(0.75);
    position: absolute;
    width: auto;
    height: auto;
    right: 215px;
    z-index: 4;
    top: 27px;
}
.Why-Apple{
    width: 100%;
    height: auto;
    margin-left: 0%;
    background-color: #f5f5f5 ;
    margin-bottom: 50px;
    overflow: hidden;
    display: block;
}
.Why-Apple-heading{
    width: 80%;
    margin-left: 10%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.Why-Apple-heading-left{
    width: calc(100%/2);
    height: auto;
    border: 0px solid black;
}
.Why-Apple-heading-left-text{
    text-align: start;
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Why-Apple-heading-right{
    width: calc(100%/2);
    height: auto;
    border: 0px solid black;
}
.Why-Apple-heading-right-text{
    text-align: end;
    margin-top: 165px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 55, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Why-Apple-heading-right-text:hover{
    text-decoration: underline;
}
.Why-border{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    border: 0px solid black;
    margin-bottom: 100px;
    overflow: hidden;
}
.Why-border-in{
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px solid rgb(0, 0, 0);
    overflow: hidden;
    flex-wrap: nowrap;
}
.Why-box{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: white;
}
.Compare-MacBook{
    width: 80%;
    height: auto;
    margin-left: 10%;
    border: 0px solid black;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.Compare-MacBook-text-left{
    text-align: start;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-text-right{
    margin-top: 30px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 55, 255);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-text-right:hover{
    text-decoration: underline;  
}
.Compare-MacBook-image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.Compare-MacBook-image1{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0px solid black;
}
.Compare-MacBook-left-right{
    width: calc(100%/2);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px solid black;
}
.Compare-MacBook-body1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0px solid black;
}
.Compare-MacBook-body2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    margin-top: 20px;
    margin-bottom: 20px; 
}
.Compare-MacBook-body2-note{
    width: 150px;
    height: auto;
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.Compare-MacBook-body2-note-button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.Compare-MacBook-new{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    border: 0px solid black;
}
.Compare-MacBook-new-text{
    font-size: 15px;
    font-weight: bolder;
    color: rgb(111, 68, 8);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-new-text1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-new-text2{
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-new-text3{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-new-text4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
}
.Compare-MacBook-footer-text{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: normal;
    color: rgb(128, 125, 125);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-footer-text1{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Compare-MacBook-footer-text1:hover{
    text-decoration: underline;
    color: #007BFF;
}
.Compare-MacBook-footer-border{
    width: 120px;
    height: 20px;
    background-color: #007BFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.Compare-MacBook-footer-text2{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.border-compare{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.border-compare1{
    border: 0px solid rgb(210, 210, 210);
    width: 700px;
}
.Compare-footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.Compare-footer-details{
    width: 700px;
    height: auto;
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.Compare-footer-details-left-right{
    width: calc(100%/2 - 0px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px solid black;
    overflow: hidden;
}
.Compare-footer-image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    overflow: hidden;
    flex-wrap: nowrap;
}
.Compare-footer-body1{
    width: 100%;
    height: auto;
    border: 0px solid black;
    text-align: center;
}
.Compare-footer-body1-text{
    font-size: 12px;
    font-weight: light;
    color: rgb(139, 139, 139);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 0px solid black;
    width: 100%;
    height: auto;
}
.Compare-footer-body1-text1{
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Mac1-background{
    width: 100%;
    height: auto;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: left; 
}
.Mac1{
    margin-top: 80px;
    width: 1300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border: 0px solid rgb(0, 0, 0);
    margin-bottom: 50px;
    overflow: hidden;
    flex-wrap: nowrap;
}
.Mac1-heading{
    width: 100%;
    height: auto;
    text-align: start;
    margin-bottom: 100px;
}
.Mac1-heading-text{
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Mac1-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.Mac1-body1{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    margin-right: 40px;
}
.Mac1-body1-text{
    font-size: 15px;
    font-weight: normal;
    color: rgb(139, 139, 139);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Mac1-body1-text1{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Mac1-body1-text2{
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.Mac1-body2{
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 0px solid black;
    margin-right: 40px;
}
.page-footer-background{
    width: 100%;
    height: auto;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
}
.page-footer{
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-bottom: 1px solid rgb(183, 183, 183);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: start;
    overflow: hidden;
}
.page-footer-text{
    text-align: left;
    font-size: 12.7px;
    font-weight: normal;
    color: rgb(117, 117, 117);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.page-footer1{
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-bottom: 1px solid rgb(183, 183, 183);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    flex-wrap: nowrap;
}
.page-footer1-heading{
    width: 100%;
    height: auto;
    text-align: start;
    display: inline-block;
}
.page-footer2{
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border: 0px solid rgb(183, 183, 183);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    flex-wrap: nowrap;
    overflow: hidden;
}
.page-footer2-note{
    margin-right: 10px;
    width: 180px;
    height: auto;
    text-align: start;
    border: 0px solid black;
    overflow: hidden;
    flex-wrap: nowrap;
}
.page-footer-border{
    width: 100%;
    height: auto;
    border: 0px solid rgb(183, 183, 183);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.page-footer-border-1{
    width: 1000px;
    height: auto;
    border: 0px solid rgb(183, 183, 183);
    margin-top: 10px;
    margin-bottom: 10px;
}
a:hover{
    text-decoration: underline;
}
.page-end{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #ececec;
}
.page-end-note{
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border: 0px solid rgb(183, 183, 183);
    flex-wrap: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
}
.page-end-note-details{
    width: calc(800%/9 - 10px);
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 0px solid rgb(183, 183, 183);
}
.page-end-note-details-left{
    width: calc(100%/3 - 10px);
    height: auto;
}
.page-end-note-details-right{
    width: calc(200%/3 - 10px);
    height: auto;
}
.page-end-note-details1{
    width: calc(100%/9 -10px);
    height: auto;
}
